body {
	margin: 0;
	font-family: "outfit", Arial, sans-serif;
	background: #222831;
	color: #EEEEEE;
}
.navbar{
	background: #11111f;
	margin: 0;
	padding: 20px 30px;
	top: 0;
}
 
.logo{
	font-size: 28pt;
	color: aquamarine;
	font-weight: bold;
	text-decoration: none;
}

.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 
.tombol{
	display: none;
	color: white;
	font-size: 16pt;			
}
 
.tombol:hover{
	cursor: pointer;
}
 
 
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;			
	text-align: center;
}
 
.menu li{
	padding-left: 0;
	margin-right: 10px;
}
 
.menu li a{
	padding:10px;
	color: white;
	text-decoration: none;
	display: inline-block;
}
 
 .menu li a:hover{
 	color: aqua;
 	font-weight: bold;
 	text-transform: uppercase;
}
.konten {
	max-width: 80%;
	align-items: center;
	margin: auto;
}
.deskripsi{
	margin: 10px;
	font-family: verdana, sans-serif;
	justify-content: space-between;
}
.deskripsi p{
	font-size: 15px;
	text-align: left;
	justify-content: space-between;
}
.deskripsi a{
	text-decoration: none;
	color: aquamarine;
}
.gambar1 {
	height: 8rem;
	aspect-ratio: 1/1;
	border-radius: 25px;
	float: left;
	left: 0;
}
.gambar {
	margin: 20px;
}
.text {
	margin-left: 18rem;
	margin-right: 0.5rem;
	background-color: #11111f;
	padding:5px;
	border-radius: 10px;
}
.text p{
	font-size: 14px;
}
.sosmed h3{
	text-align: center;
}
.sosmed, .sekolah{
	margin: 20px;
	background-color: #11111f;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
.sosmed a{
	margin: auto;
	color: aquamarine;
	text-decoration: none;
	font-size: 15px;
}
.sekolah p{
	font-size: 15px;
}
.program{
	margin: 20px;
	background-color: #11111f;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 7px;
	rotate: -45deg;
}
.gambar2 {
	height: 4rem;
}
footer {
	text-align: center;
		margin-top: 100px;
	display: flex;
	justify-content: space-between;
	display: block;
	bottom: 0;
}
footer a{
	text-decoration: none;
	color: white;
	opacity: 60%;
	margin: 35px;
	font-size: 13px;
}
footer a:hover{
	opacity: 100%;
}
@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}
 
	.menu.aktif{
		display:inline-block;
		position: absolute;
		top: 64px;
		background: #11111f;
		padding: 10px 20px;
		right: 0;
		left: 0;
	}
 
	.menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
	}
 
	.tombol {
		display: block;
	}
	.gambar1 {
		height: 8rem;
	}
	.text {
		margin-left: 10rem;
	}
}